h1 {font-family: 'Tangerine' , sans-serif;
    font-size: 100px;
    }

.navbar-brand {font-family: 'Tangerine' , sans-serif;
                font-size: 30px;
                margin-right: 40px,
               
}

#mainPic {float: left; width: 35%}
